.chapter-box {
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.chapter-img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 15px auto;
}
