.slider-viewport {
  width: 100vw;
  overflow: hidden;
  position: relative;
  touch-action: pan-y; /* Vertical scroll allow karega, horizontal hum handle kar rahe hain */
}

.slider-track {
  display: flex;
  width: 300vw; /* 3 pages side-by-side */
  transform: translateX(-100vw); /* Default: Middle slide dikhao */
  will-change: transform;
}

.slide {
  width: 100vw;
  min-height: 80vh;
  flex-shrink: 0;
}

.edge {
  background: transparent; 
  width: 100%;
  height: 100%;
}
.slide-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}