/* .chapter-container {
  padding: 16px;
  line-height: 1.7;
}

.example-box {
  background: #f8f9fa;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
}

.code-box {
  background: #111;
  color: #0f0;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
} */
